.adSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  div:first-child {
    width: 10%;
  }
  div:nth-child(2) {
    @include adButton;
    a {
      font-size: 18px;
    }
    &:hover {
      background-color: $colorBlack;
      a {
        color: $colorGreen;
      }
    }
  }
}
